@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
	* {
		@apply box-border;
	}
	
	.list-item {
		@apply
			p-2 hover:bg-neutral-100 rounded-md gap-2 cursor-pointer flex items-center justify-center;
	}

	.icon-button {
		@apply
			flex items-center justify-center
			hover:bg-neutral-100
			rounded-md
			cursor-pointer
			aspect-square
		;
	}

	.main-navigation {
		@apply
			bg-white 
			border-t border-neutral-200
			md:p-3
			absolute bottom-0 left-0 right-0 md:static
			w-full md:w-auto
			md:border-r md:h-screen
			flex flex-col
		;
	}

	.main-navigation .navigation-list {
		@apply
			h-12 md:h-auto
			flex md:flex-col
			justify-evenly md:justify-start
			md:gap-2
			z-40
		;
	}

	.navigation-list__item {
		@apply
			md:w-full
			aspect-square xl:aspect-auto
		;
	}

	.nav-item {
		@apply
			bg-white hover:bg-neutral-100
			flex items-center justify-center xl:justify-start
			h-full md:h-auto xl:h-12
			aspect-square xl:aspect-auto
			rounded-md
			xl:px-3
			xl:py-2.5
			md:gap-3.5
			data-[is-active=true]:font-medium
		;
	}

	.nav-button {
		@apply
			xl:pl-[11px]
			w-full
			border
		;
	}

	.nav-item__label {
		@apply
			hidden xl:block
		;
	}

	.navbar-section {
		@apply
			hidden md:flex flex-col
			absolute left-[73px] top-0
			h-screen
			border-r border-neutral-200
			rounded-r-md
			w-96
			bg-white
		;
	}
	
	.navbar-more-options {
		@apply
			hidden md:flex
			aspect-square xl:aspect-auto
			w-full
			z-40
		;
	}

	.more-menu {
		@apply
			shadow-md
			overflow-hidden
			rounded-md
			absolute
			left-16 xl:left-4
			bottom-4 xl:bottom-20
			bg-white
			min-w-max
			hidden md:flex flex-col
			gap-2
			z-50
		;
	}
	
	.more-menu menu {
		@apply
			hidden md:flex flex-col
		;
	}

	.more-menu-item {
		@apply
			bg-white hover:bg-neutral-100 disabled:text-neutral-400 disabled:cursor-not-allowed
			flex items-center
			rounded-md
			px-3
			py-2.5
			gap-3.5
			w-full
		;
	}

	.report-content {
		@apply
			flex flex-col gap-2
			p-2
		;
	}
}
