@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
	.list-item {
		@apply
			p-2 hover:bg-neutral-100 rounded-md gap-2 cursor-pointer flex items-center justify-center;
	}

	.icon-button {
		@apply
			flex items-center justify-center
			hover:bg-neutral-100
			rounded-md
			cursor-pointer
			aspect-square
		;
	}

	.main-navigation {
		@apply
			bg-white 
			border-t border-neutral-200
			p-1
			absolute bottom-0 left-0 right-0 md:static
			w-full md:w-20 xl:w-80
			md:border-r md:h-screen
		;
	}

	.nav-item {
		@apply
			bg-white hover:bg-neutral-100
			flex items-center justify-center xl:justify-start
			h-full md:h-auto
			md:w-full
			aspect-square xl:aspect-auto
			rounded-md
			md:px-2.5
			md:py-3
			xl:pl-3
			md:gap-2
			data-[is-active=true]:font-medium
		;
	}

	.nav-item span {
		@apply
			hidden xl:block
		;
	}
}
